@* @using Microsoft.AspNetCore.Http
@using Lingo.Models;
@using Newtonsoft.Json
@{ 
    User User = new User{};
    int UserId = 0;
    bool IsAdmin = false;
    string user =  Context.Session.GetString("User");
    bool IsLogin = user != null ;
    if (IsLogin){
        User = JsonConvert.DeserializeObject<User>(user);
        IsAdmin = User.Role == "Admin";
        UserId = User.UserId;
    }
    
} *@

@using Lingo.Services
@inject Auth auth


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <title>@ViewData["Title"] - Lingo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Lingo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (auth.IsLogin){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Essays/Index">Essay</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Vocabs/Index">Vocab</a>
                            </li>
                        }
                        @if (auth.IsAdmin){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Samples/Index">Sample</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Users/Index">User</a>
                            </li>
                        }                    
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (auth.IsLogin){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">@auth.UserName</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Log Out</a>
                            </li>  
                        }else{
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Log in</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Lingo - Developed by Alex Teh
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js" asp-append-version="true"></script>
    <script src="~/js/func.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
