<div>
    <ul class="pagination">

        @if (Model.ShowPrevious)
        {
            <li class="page-item">
                <a href="?CurrentPage=@(Model.CurrentPage -1)" class="page-link">Previous</a>
            </li>
        }
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a href="?CurrentPage=@i" class="page-link">@i</a>
            </li>
        }

        @if (Model.ShowNext)
        {
            <li class="page-item">
                <a href="?CurrentPage=@(Model.CurrentPage + 1)" class="page-link">Next</a>
            </li>
        }
    </ul>
</div>