@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lingo</h1>
    <p>A tool to help you learn language fast and effectively.</p>
</div>
